.loginPanel {
  max-width: 600px;
  min-width: 300px;
  margin: 20%;
  padding: 10px
}

.navbar {
  padding: 5px;
  background-color:  #5c15ff 
}

.sideNav {
 height: 100%;
 width: 60px;
}

.noPadding {
  padding: 0px;
}

.workspace {
  padding-top: 20px;
}

.loginPanelForm {
  padding: 5px;
}

.logForm {
  width: 100%;
  margin-top: 30%;
  margin-bottom: 10px;
  text-align: center;
}

.loginPanelButtonContainer {
  padding: 5px;
}

.center {
  width: 100%;
  margin: auto;
  text-align: center;
}